*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: goldenrod;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(44, 129, 44);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
}

input{
    color: #016f32;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5px;
    border: 1px solid black;

}

#player-name{
    width: 200px;
}

#player-name::placeholder{
    text-align: center;
    font-size: 25px;
    color: black;
    opacity: 0.4;
}

#register{
    width: 200px;
}

.dads-el{
    display: flex;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

input::placeholder{
    text-align:center;
    font-size: 20px;
    color: black;
}


@media screen and (max-width: 1005px){



}
